.navegacao {
    display: flex;
    justify-content: center;
}

.navegacao a{
    margin: 0px 1px 0px 1px;
    text-decoration: inherit;
    color: white;
}

.navegacao a:hover {
    color: white;
}

.navegacao div {
    margin: 0px 1px 0px 1px;
    border: white solid 2px;
}